.portfolio .portfolio-item .portfolio-item-caption {
  transition: all ease .3s;
  opacity: 0;
  background-color: var(--bs-primary);
}

.btn-primary {
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-bg);
}

hr.star-light:after {
  color: #fff;
  background-color: var(--bs-primary);
}

